<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#/dashboard.html">Dashboard</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#/employee-list.html">Danh sách nhân viên </a>
            <i class="fa fa-circle"></i>
        </li>
        <li><a href="#">Change password</a></li>
    </ul>
</div>
<!-- END PAGE HEADER-->

<!-- BEGIN SAMPLE FORM PORTLET-->
<div class="portlet light bordered" ng-controller="ChangePasswordEmployeeController">
    <div class="portlet-title">
        <div class="caption font-green">
            <i class="fa fa-user font-green"></i>
            <span class="caption-subject bold uppercase"> Change password - Đổi mật khẩu ({{employee.fullname}} - {{employee.username}}) </span>
        </div>
    </div>
    <div class="portlet-body form">
        <form role="form"
              class="form-horizontal"
              name="userForm"
              id="frm_edit_employee"
              ng-submit="submit()"
              novalidate>
            <input type="hidden"
                   ng-model="employee.id"
                   name="id"
                   id="id"/>
            <div class="form-body">
                <div class="form-group note note-warning">
                    <lable class="control-label"><span class="required">*</span> &nbsp; Bắt buộc nhập</lable>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5 control-label"
                                   for="fullname">Fullname (Họ tên)</label>
                            <div class="col-md-7">
                                <input type="text"
                                       class="form-control"
                                       ng-model="employee.fullname"
                                       name="fullname"
                                       id="fullname"
                                       disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5 control-label"
                                   for="username">Username (Tên đăng nhập)</label>
                            <div class="col-md-7">
                                <input type="text"
                                       class="form-control"
                                       ng-model="employee.username"
                                       name="username"
                                       id="username"
                                       disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="form-group">
                    <label class="col-md-3 control-label"
                           for="password">Password (Mật khẩu) <span
                            class="required"> * </span></label>
                    <div class="col-md-9">
                        <input type="password"
                               class="form-control"
                               id="password"
                               name="password"
                               ng-model="employee.password"
                               required
                               placeholder="Mật khẩu phải dài ít nhất 6 ký tự"
                               ng-minlength="6">
                        <span class="help-block text-color-red"
                              ng-show="userForm.password.$error.required && !userForm.password.$untouched" >
                            Không để để trống mật khẩu</span>
                        <span class="help-block text-color-red"
                              ng-show="userForm.password.$error.minlength && !userForm.password.$untouched" >
                            Mật khẩu phải dài ít nhất 6 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"
                           for="repeat_password">Repeat pasword (Lập lại mật khẩu) <span
                            class="required"> * </span></label>
                    <div class="col-md-9">
                        <input type="password"
                               class="form-control"
                               id="repeat_password"
                               name="repeat_password"
                               ng-model="employee.repeat_password"
                               required
                               data-password-verify="employee.password"
                               placeholder="Password must contain at least 6 characters"
                               ng-minlength="6">
                        <span class="help-block text-color-red"
                              ng-show="userForm.repeat_password.required && !userForm.repeat_password.$untouched">
                            Nhập lại mật khẩu không được để trống</span>
                        <span class="help-block text-color-red"
                              ng-show="userForm.repeat_password.$error.minlength && !userForm.repeat_password.$untouched">
                            Nhập lại mật khẩu phải dài ít nhất 6 ký tự</span>
                        <span class="help-block text-color-red"
                              ng-show="userForm.repeat_password.$error.passwordVerify && !userForm.repeat_password.$untouched">
                            Nhập lại mật khẩu phải giống với mật khẩu ở trên</span>

                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit"
                                class="btn green"
                                ng-disabled="userForm.$invalid">Submit</button>
                        <a href="#/employee-list.html"
                           class="btn default">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- END SAMPLE FORM PORTLET-->