<!-- BEGIN SAMPLE FORM PORTLET-->
<div class="portlet light bordered" ng-controller="EditEmployeeController">
    <div class="portlet-title">
        <div class="caption font-green">
            <i class="fa fa-user font-green"></i>
            <span class="caption-subject bold uppercase"> {{title}}</span>
        </div>
    </div>
    <div class="portlet-body form">
        <form role="form" class="form-horizontal" id="frm_edit_employee" ng-submit="submit()">
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    You have some form errors. Please check below.
                </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" for="fullname">Full name (Tên nhân viên) <span
                            class="required"> * </span></label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="fullname" ng-model="employee.fullname"
                               placeholder="Customer name - Maximum 50 characters">
                        <span class="help-block">Bắt buộc nhập</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="username">Username (Tên đăng nhập) <span
                            class="required"> * </span> </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="username" ng-model="employee.username"
                               placeholder="User name - Maximum 20 characters">
                        <span class="help-block">Bắt buộc nhập</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="password">Password (Mật khẩu) <span
                            class="required"> * </span></label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" id="password" ng-model="employee.password"
                               placeholder="Password must contain at least 6 characters">
                        <span class="help-block">Mật khẩu phải dài ít nhất 6 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="repeat_password">Repeat pasword (Lập lại mật khẩu) <span
                            class="required"> * </span></label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" id="repeat_password" ng-model="employee.password"
                               placeholder="Password must contain at least 6 characters" minlength="6">
                        <span class="help-block">Repeat password phải giống với password ở trên</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="active">Active (Kích hoạt)</label>
                    <div class="col-md-9">
                        <input type="checkbox" class="make-switch" id="active" data-on-text="Yes" data-off-text="No"
                               ng-model="employee.active" ng-init="employee.active">
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn green">{{buttonText}}</button>
                        <button type="button" class="btn default">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- END SAMPLE FORM PORTLET-->