<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#/dashboard.html">Dashboard</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">{{$state.current.data.pageTitle}} </a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="BannerController">
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="fa fa-users font-dark"></i>
                        <span class="caption-subject bold uppercase"> {{$state.current.data.pageTitle}} </span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group">
                                    <a href="#/edit-banner.html?id=-1" class="btn sbold green"> Thêm banner
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover dataTable orange" id="tbl_banners">
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th width="30%"> Tiêu đề</th>
                            <th width="20%"> Hình ảnh</th>
                            <th width="15%"> Loại banner</th>
                            <th width="15%" class="text-center"> Kích hoạt</th>
                            <th width="20%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd gradeX" ng-repeat="e in banners">
                            <td>{{$index + 1}}</td>
                            <td> {{e.title}}</td>
                            <td><a href="{{e.url}}" target="_blank"><img src="{{e.url}}" alt="{{e.title}}"
                                                                         class="thumbnail-img"/></a></td>
                            <td> {{e.banner_type}}</td>
                            <td class="text-center">
                                <span class="label label-sm label-success" ng-if="e.active"> Yes </span>
                                <span class="label label-sm label-danger" ng-if="!e.active"> No </span>
                            </td>
                            <td class="text-right">
                                <a href="#/edit-banner.html?id={{e.id}}" class="btn btn-sm yellow"> Sửa
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="javascript:;" ng-click="delete (e.id, $index)"
                                   class="btn btn-sm red"> Xoá
                                    <i class="fa fa-remove"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->
<script>
    if (jQuery().dataTable) {
        var table = $('#tbl_banners');

        // begin first table
        table.dataTable({

            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Hiển thị _START_ tới _END_ trong _TOTAL_ ",
                "infoEmpty": "Không tìm thấy mục nào",
                "infoFiltered": "(filtered1 from _MAX_ total mục)",
                "lengthMenu": "Hiển thị _MENU_",
                "search": "",
                "zeroRecords": "Không tìm thấy kết quả nào",
                "paginate": {
                    "previous": "Trang trước",
                    "next": "Trang kế tiếp",
                    "last": "Trang cuối",
                    "first": "Trang đầu"
                }
            },

            // Or you can use remote translation file
            //"language": {
            //   url: '//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Portuguese.json'
            //},

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",

            "bStateSave": true, // save datatable state(pagination, sort, etc) in cookie.

            "columnDefs": [{
                "targets": [0, 1, 2, 3, 4],
                "orderable": false,
                "searchable": false
            }],

            "lengthMenu": [
                [5, 15, 20, -1],
                [5, 15, 20, "All"] // change per page values here
            ],
            // set the initial value
            "pageLength": 5,
            "pagingType": "bootstrap_full_number",
            "columnDefs": [{  // set default column settings
                'orderable': false,
                'targets': [0, 1, 2, 3, 4, 5, 6]
            }, {
                "searchable": false,
                "targets": [0, 1, 2, 3, 4, 5, 6]
            }],
            "order": [
                [1, "asc"]
            ] // set first column as a default sort by asc
        });
    }
</script>
<!-- END MAIN JS -->