<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#/dashboard.html">Dashboard</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#/banner-list.html">Danh sách banner </a>
            <i class="fa fa-circle"></i>
        </li>
        <li><a href="#">{{title}}</a></li>
    </ul>
</div>
<!-- END PAGE HEADER-->

<!-- BEGIN SAMPLE FORM PORTLET-->
<div class="portlet light bordered" ng-controller="EditBannerController">
    <div class="portlet-title">
        <div class="caption font-green">
            <i class="fa fa-user font-green"></i>
            <span class="caption-subject bold uppercase"> {{title}}</span>
        </div>
    </div>
    <div class="portlet-body form">
        <form role="form"
              class="form-horizontal"
              name="form"
              id="frm_edit_banner"
              ng-submit="submit()"
              novalidate>
            <input type="hidden"
                   ng-model="banner.id"
                   name="id"
                   id="id"/>
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-3 control-label"
                           for="title">Title (Tiêu đề)</label>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control"
                               id="title"
                               name="title"
                               ng-model="banner.title"
                               ng-maxlength="100"
                               placeholder="Enter text - Maximum 100 characters">
                        <span ng-show="form.title.$error.maxlength && !form.title.$untouched"
                              class="help-block text-color-red">
                           Tiêu đề không được dài hơn 100 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"
                           for="desc">Description (Mô tả)</label>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control"
                               id="desc"
                               name="desc"
                               ng-model="banner.desc"
                               ng-maxlength="300"
                               placeholder="Abstract - Maximum 300 characters">
                        <span ng-show="form.desc.$error.maxlength && !form.desc.$untouched"
                              class="help-block text-color-red">
                           Mô tả không được dài hơn 300 ký tự</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label"
                           for="banner_type">Type (Loại)</label>
                    <div class="col-md-5">
                        <select class="form-control"
                                id="banner_type"
                                name="banner_type"
                                ng-model="banner.banner_type"
                                required
                        >
                            <option>Top Banner</option>
                            <option>Ads Banner</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"
                           for="active">Active (Kích hoạt)</label>
                    <div class="col-md-9">
                        <input type="checkbox"
                               class="make-switch"
                               name="active"
                               id="active"
                               data-on-text="Yes"
                               data-off-text="No"
                               ng-model="banner.active"
                               ng-checked="banner.active"
                               ng-if="banner.active"
                               checked/>
                        <input type="checkbox"
                               class="make-switch"
                               name="active"
                               id="active"
                               data-on-text="Yes"
                               data-off-text="No"
                               ng-model="banner.active"
                               ng-checked="banner.active"
                               ng-if="!banner.active"/>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit"
                                class="btn green"
                                ng-disabled="form.$invalid">{{buttonText}}
                        </button>
                        <a href="#/banner-list.html"
                           class="btn default">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- END SAMPLE FORM PORTLET-->