/* here you can put your own css to customize and override the theme */
/* custom css here */
.dataTable.orange thead {
    background-color: #FFB848;
}

.text-color-red {
    color: red;
}

.thumbnail-img {
    max-height: 50px;
}

.thumbnail2x-img {
    max-height: 100px;
}