<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li><a href="#">My Profile</a></li>
    </ul>
</div>
<!-- END PAGE HEADER-->

<!-- BEGIN SAMPLE FORM PORTLET-->
<div class="portlet light bordered" ng-controller="ProfileDashboardController">
    <div class="portlet-title">
        <div class="caption font-green">
            <i class="fa fa-user font-green"></i>
            <span class="caption-subject bold uppercase"> My Profile </span>
        </div>
    </div>
    <div class="portlet-body form">
        <form role="form"
              class="form-horizontal"
              name="form"
              id="frm_edit_employee"
              ng-submit="submit()"
              novalidate>
            <input type="hidden"
                   ng-model="employee.id"
                   name="id"
                   id="id"/>
            <div class="form-body">
                <div class="form-group note note-warning">
                    <lable class="control-label"><span class="required">*</span> &nbsp; Bắt buộc nhập</lable>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"
                           for="fullname">Fullname (Họ tên)</label>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control"
                               ng-model="employee.fullname"
                               name="fullname"
                               id="fullname"
                               disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"
                           for="username">Username (Tên đăng nhập)</label>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control"
                               ng-model="employee.username"
                               name="username"
                               id="username"
                               disabled>
                    </div>
                </div>
                <hr>

                <div class="form-group">
                    <label class="col-md-3 control-label"
                           for="old_password">Old Password (Mật khẩu mới) <span
                            class="required"> * </span></label>
                    <div class="col-md-9">
                        <input type="password"
                               class="form-control"
                               id="old_password"
                               name="old_password"
                               ng-model="employee.old_password"
                               required
                               placeholder="Mật khẩu phải dài ít nhất 6 ký tự"
                               ng-minlength="6">
                        <span class="help-block text-color-red"
                              ng-show="form.old_password.$error.required && !form.old_password.$untouched">
                            Không để để trống mật khẩu</span>
                        <span class="help-block text-color-red"
                              ng-show="form.old_password.$error.minlength && !form.old_password.$untouched">
                            Mật khẩu phải dài ít nhất 6 ký tự</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label"
                           for="new_password">New Password (Mật khẩu mới) <span
                            class="required"> * </span></label>
                    <div class="col-md-9">
                        <input type="password"
                               class="form-control"
                               id="new_password"
                               name="new_password"
                               ng-model="employee.new_password"
                               required
                               placeholder="Mật khẩu phải dài ít nhất 6 ký tự"
                               ng-minlength="6">
                        <span class="help-block text-color-red"
                              ng-show="form.new_password.$error.required && !form.new_password.$untouched">
                            Không để để trống mật khẩu</span>
                        <span class="help-block text-color-red"
                              ng-show="form.new_password.$error.minlength && !form.new_password.$untouched">
                            Mật khẩu phải dài ít nhất 6 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"
                           for="repeat_password">Repeat new pasword (Lập lại mật khẩu mới) <span
                            class="required"> * </span></label>
                    <div class="col-md-9">
                        <input type="password"
                               class="form-control"
                               id="repeat_password"
                               name="repeat_password"
                               ng-model="employee.repeat_password"
                               required
                               data-password-verify="employee.new_password"
                               placeholder="Password must contain at least 6 characters"
                               ng-minlength="6">
                        <span class="help-block text-color-red"
                              ng-show="form.repeat_password.required && !form.repeat_password.$untouched">
                            Nhập lại mật khẩu không được để trống</span>
                        <span class="help-block text-color-red"
                              ng-show="form.repeat_password.$error.minlength && !form.repeat_password.$untouched">
                            Nhập lại mật khẩu phải dài ít nhất 6 ký tự</span>
                        <span class="help-block text-color-red"
                              ng-show="form.repeat_password.$error.passwordVerify && !form.repeat_password.$untouched">
                            Nhập lại mật khẩu phải giống với mật khẩu mới ở trên</span>

                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit"
                                class="btn green"
                                ng-disabled="form.$invalid">Lưu Thông Tin
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- END SAMPLE FORM PORTLET-->